body {
    font-family: Arial, sans-serif;
    background-image: url('images/gunung-fuji.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #ff0000;
    margin: 0;
    padding: percentage;
    
   
}

header {
    text-align: center;
    align-items: center;
    padding: 12px;
    border: 1px solid #f01616;
    box-sizing: border-box;
}

header img {
    max-width: 100px;
    height: auto;;
}

header h1 {

    margin: 10px 0;
    font-size: 2em;
    color: #e60012;
    
}

nav ul {
    list-style-type: none;
    text-align-last: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ff0000;
    font-weight: bold;
}

main {
    padding: 20px;
    border: 1px solid #e00f0f;
    text-align: center;
    box-sizing: border-box;
}

main h2 {
    color: #e60012;
}

.produk {
    display: contents;
    margin: 20px;
    text-align: center;
}

.produk img {
    max-width: 200px;
    height: auto;
    align-items: center;
}

footer{
    text-align: center;
    padding-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #f20808;
}

